/CircleInters/obj/CircleInters.csproj.nuget.dgspec.json
/CircleInters/obj/CircleInters.csproj.nuget.g.props
/CircleInters/obj/CircleInters.csproj.nuget.g.targets
/CircleInters/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.AssemblyInfo.cs
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.AssemblyInfoInputs.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.assets.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.csprojAssemblyReference.cache
/CircleInters/obj/project.assets.json
/CircleInters/obj/project.nuget.cache
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.deps.json
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.dll
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.exe
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.pdb
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.runtimeconfig.dev.json
/CircleInters/bin/Debug/netcoreapp3.1/CircleInters.runtimeconfig.json
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.csproj.CoreCompileInputs.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.csproj.FileListAbsolute.txt
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.dll
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.genruntimeconfig.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.pdb
/CircleInters/obj/Debug/netcoreapp3.1/apphost.exe
