/CircleInters/obj/CircleInters.csproj.nuget.dgspec.json
/CircleInters/obj/CircleInters.csproj.nuget.g.props
/CircleInters/obj/CircleInters.csproj.nuget.g.targets
/CircleInters/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.AssemblyInfo.cs
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.AssemblyInfoInputs.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.assets.cache
/CircleInters/obj/Debug/netcoreapp3.1/CircleInters.csprojAssemblyReference.cache
/CircleInters/obj/project.assets.json
/CircleInters/obj/project.nuget.cache
